html,
body {
    height: 100%;
}

body {
    margin: 0;
    background: #fafafa;
}

#app {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 100%;
}

header {
    background: #ffffff;
    border-bottom: 1px solid #d5d5d5;

    .container {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .logo {
        height: 36px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: center;

        .icon {
            margin-right: 5px;
        }

        a {
            position: relative;
            display: flex;
            height: 100%;
            align-items: center;
            padding-left: 10px;
            padding-right: 10px;
            color: #7a7a7a;

            &.active {
                color: #1a1a1a;

                &:after {
                    display: block;
                    content: "";
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                    right: 0px;
                    height: 2px;
                    background: #c8c8f0;
                }
            }
        }
    }
}

.card {
    position: relative;
    background: #ffffff;
    border: 1px solid #d5d5d5;
    border-radius: 4px;
    padding: 10px;

    &::before {
        display: block;
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        width: 6px;
        background: #dff0c8;
    }

    h3 {
        display: flex;
        align-items: center;

        .icon {
            font-size: 3rem;
            margin-right: 10px;
            color: #7a7a7a;
        }

        margin-bottom: 5px;
    }
}
