.container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    :global(.row) {
        position: relative;
        background: #ffffff;
        border: 1px solid #d5d5d5;
        border-radius: 4px;
        padding: 10px;

        &:before {
            display: block;
            position: absolute;
            content: "";
            top: 0;
            bottom: 0;
            left: 0;
            width: 6px;
        }

        h3 {
            .icon {
                font-size: 3rem;
                margin-right: 10px;
            }
            margin-bottom: 5px;
        }

        .values {
            padding-left: 20px;
        }

        &.voltage {
            .icon {
                color: #fbdf07;
            }

            &:before {
                background: #fbdf07;
            }
        }

        &.cooling {
            .icon {
                color: #89cffd;
            }

            &:before {
                background: #89cffd;
            }
        }

        &.lids {
            .icon {
                color: #f94892;
            }

            &:before {
                background: #f94892;
            }
        }

        &.fire {
            .icon {
                color: #ff7f3f;
            }

            &:before {
                background: #ff7f3f;
            }
        }
    }
}
