.container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    :global(.row) {
        .values {
            padding-left: 20px;
        }

        &.voltage {
            :global(.icon) {
                color: #fbdf07;
            }

            &::before {
                background: #fbdf07;
            }
        }

        &.cooling {
            :global(.icon) {
                color: #89cffd;
            }

            &::before {
                background: #89cffd;
            }
        }

        &.lids {
            :global(.icon) {
                color: #f94892;
            }

            &::before {
                background: #f94892;
            }
        }

        &.fire {
            :global(.icon) {
                color: #ff7f3f;
            }

            &::before {
                background: #ff7f3f;
            }
        }
    }
}
